# .gitignore

# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Editor-specific files
.vscode/
*.swp
*.swo

# PyCharm files
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log
